body,
      html {
        background: black;
        height: 100%;
        width: 98%;
        display: flex;
        justify-content: center;
        align-items: center;
        
      }

      canvas {
        position: absolute;
        overflow: visible;
      }